  <h2>提现明细</h2>
<div class='button-group'>
  <%=link_to '未申请提现', admin_rebates_path(status:0),class:"button  #{@no}"%>
  <%=link_to '已申请提现', admin_rebates_path(status:1),class:"button #{@yes}"%>
</div>
<table class="table hover stack">
  <thead>
  <tr>
    <th>会员</th>
    <th>卡号</th>
    <th>提现类型</th>
    <th>流水号</th>
    <th>交易时间</th>
    <th>提现金额</th>
    <th>提现比例</th>
    <th>提现号</th>
  </tr>
  </thead>
  <tbody>
  <%@rebates.each  do |rebate|%>
      <tr>
        <td><%=rebate.user.name if rebate.user%></td>
        <td><%=rebate.card_trading.card_no if rebate.card_trading%></td>
        <td><%=rebate.type_text%></td>
        <td><%=rebate.card_trading.id%></td>
        <td><%=l rebate.created_at%></td>
        <td><%=rebate.amount%></td>
        <td><%=rebate.rate*100%>%</td>
        <td><%=rebate.withdrawal_id%></td>
      </tr>
  <%end if @rebates%>
  <%if @rebates.blank?%>
  <tr><td colspan='4'>暂无提现记录</td></tr>
  <%end%>
  </tbody>
</table>
<div class="paginations">
  <%=will_paginate  @rebates,renderer: FoundationPagination::Rails,:container=>false,renderer: FoundationPagination::Rails  %>
</div>
